---
http_interactions:
- request:
    method: post
    uri: https://cloud.langfuse.com/api/public/scores
    body:
      encoding: UTF-8
      string: '{"id":"ae1d05ba-1d25-45dd-877e-52c3c07207e4","name":"accuracy","value":0.95,"dataType":"NUMERIC","traceId":"trace-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstdGVzdC0xMjM6c2stdGVzdC00NTY=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Document-Policy:
      - js-profiling
      Etag:
      - '"shlzp847bz2b"'
    body:
      encoding: UTF-8
      string: '{"message":"Invalid credentials. Confirm that you''ve configured the
        correct host."}'
  recorded_at: Tue, 23 Dec 2025 12:30:57 GMT
[...]
- request:
    method: post
    uri: https://cloud.langfuse.com/api/public/scores
    body:
      encoding: UTF-8
      string: '{"id":"ae1d05ba-1d25-45dd-877e-52c3c07207e4","name":"accuracy","value":0.95,"dataType":"NUMERIC","traceId":"trace-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGstdGVzdC0xMjM6c2stdGVzdC00NTY=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Document-Policy:
      - js-profiling
      Etag:
      - '"shlzp847bz2b"'
    body:
      encoding: UTF-8
      string: '{"message":"Invalid credentials. Confirm that you''ve configured the
        correct host."}'
  recorded_at: Tue, 23 Dec 2025 12:30:58 GMT
recorded_with: VCR 6.3.1
