<!DOCTYPE html>
<html lang="en">
{% render "head" %}
<body>
  {% assign docs_nav = site.data.documentation_navigation %}
  {% render "site_header", docs_nav: docs_nav %}

  <main class="page-content">
    {{ content }}
  </main>

  {% render "footer" %}

</body>
</html>
