<!DOCTYPE html>
<html lang="en">
{% render "head" %}
<body>
  {% render "site_header" %}

  <main class="page-content">
    {{ content }}
  </main>

  {% render "footer" %}

  <!-- Scripts -->
  <script src="{{ '/_bridgetown/static/js/index.js' | relative_url }}"></script>
  <!-- GitHub buttons script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
