<!-- Blog Article Card Component -->
<li>
  <a href="{{ include.url }}" class="text-dspy-link underline hover:text-gray-900" style="text-underline-offset: 3px; font-family: 'Newsreader', Georgia, serif; font-size: 1.0625rem;">
    {{ include.title }}
  </a>
</li>
