---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"numResults":2,"useAutoprompt":true,"summary":true,"query":"Jina DeepSearch
        architecture"}'
    headers:
      X-Stainless-Lang:
      - ruby
      X-Stainless-Runtime:
      - ruby
      X-Stainless-Runtime-Version:
      - 3.4.5
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '9007199254740991'
      X-Ratelimit-Remaining:
      - '9007199254740990'
      X-Ratelimit-Reset:
      - '1761590377'
      Etag:
      - W/"29f-/9SybQOGyd1xmHnXw2TD0L8otk0"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"35948059d7dfea4e918e24e787a88583","autopromptString":"Jina
        DeepSearch architecture","resolvedSearchType":"neural","results":[{"id":"https://skywork.ai/skypage/en/jina-web-search-ai-engineer/1980206257552007168","title":"Jina
        Web Search MCP Server: An AI Engineer''s Deep Dive","url":"https://skywork.ai/skypage/en/jina-web-search-ai-engineer/1980206257552007168","publishedDate":"2025-10-23T18:39:36.789Z","author":null},{"id":"https://jina.ai/deepsearch/","title":"DeepSearch
        - Jina AI","url":"https://jina.ai/deepsearch/","publishedDate":"2025-03-13T00:00:00.000Z","author":null}],"searchTime":906.5,"costDollars":{"total":0.005,"search":{"neural":0.005}}}'
  recorded_at: Mon, 27 Oct 2025 18:39:36 GMT
recorded_with: VCR 6.3.1
